<form [formGroup]="socialwebsite" (ngSubmit)="onCreateProject()" class="space-y-8">
    <!-- Task Details -->


    <!-- Content Details -->
    <div>
        <h2 class="text-lg text-white font-semibold mb-4 mt-6">Content Details</h2>

        <div class="w-full mb-5">
            <label class="block text-gray-300 mb-1">Prompt*</label>
            <textarea pInputText formControlName="prompt" rows="5" cols="50" panelStyleClass="custom-select-panel"
                class="w-full bg-transparent border border-[#363636] rounded-lg px-4 py-2 text-white focus:border-[#B66DFF] focus:ring-[#B66DFF]">
                </textarea>
        </div>
        <!-- <div>
                <label class="block text-gray-300 mb-1">Image Url*</label>
                <input pInputText formControlName="url1" panelStyleClass="custom-select-panel"
                    class="w-full bg-transparent border border-[#363636] rounded-lg px-4 py-2 text-white focus:border-[#B66DFF] focus:ring-[#B66DFF]" />
            </div> -->

        <!-- Image Details -->

        <!-- <div class="flex items-center">
            @if (socialwebsite.get('url1')?.value) {
            <img [src]="socialwebsite.get('url1')?.value" alt="" class="w-72">
            }

        </div> -->

        <div class="flex justify-end items-center flex-wrap">

            <p-button [ngClass]="{ 'opacity-70': !socialwebsite.valid }" class="px-6 py-3 rounded-full bg-[#8D4BFF]"
                label="Submit" severity="help" rounded="true" (onClick)="onCreateProject()"
                [disabled]="socialwebsite.invalid"></p-button>
        </div>
    </div>

</form>