<h2 mat-dialog-title class="title">Plagiarism Check</h2>
<mat-dialog-content class="content">
  <div class="progress-container">
    <div class="progress-item">
      <div class="label">Plagiarism</div>
      <div class="percentage">0%</div>
    </div>
    <div class="progress-item">
      <div class="label">Unique</div>
      <div class="percentage">100%</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>