<div class="flex justify-center items-center min-h-screen py-8">
    <div class="bg-[#F6F5EF] rounded-2xl border-4  shadow-xl max-w-3xl w-full overflow-hidden">
        <!-- Image Banner -->
        <div class="w-full">
            <img [src]="imageUrl" alt="Main Visual" class="w-full object-cover" style="max-height:320px;" />
        </div>
        <!-- Article Content -->

        <div class="px-10 py-8">
            <div *ngIf="!contentDisabled">
                <div class="text-black" [innerHTML]="blogContent"></div>
            </div>

        </div>
    </div>
</div>