<app-header>

</app-header>
<div class="min-h-screen dark:bg-[#09040E] mt-5">
    <div class="max-w-[88%] mx-auto my-0">
        <a routerLink="/home" class="text-4xl w-full flex items-center">
            <i class="pi pi-angle-left mt-1 mr-2 text-2xl"></i>
            Create <span class="ml-2 email-glow">{{this.selection.name}}</span>
        </a>
    </div>
    <div class="max-w-[90%] mx-auto mt-10">
        <div class="p-8 border border-[#B66DFF] rounded-2xl">
            <p-stepper [value]="1">
                <p-step-item [value]="1">
                    <p-step style="font-size: calc(1.5rem + 0.2vw);font-weight: lighter;">Choose method to share your
                        idea</p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col justify-center my-4">

                                <div class="border border-[#363636] rounded-t-lg w-full">
                                    <div class="flex gap-4 justify-center items-center p-8">
                                        @for (item of radiobtn; track $index) {
                                        <a class="border  w-96 h-64 flex flex-wrap items-start justify-start p-8 rounded-2xl relative"
                                            [ngClass]="details === item.value ? 'border-[#FFFFFF]' : 'border-[#363636]'">
                                            <p-radioButton styleClass="absolute top-3 right-3 custom-radio-success"
                                                size="large" name="details" [value]="item.value"
                                                [(ngModel)]="details"></p-radioButton>
                                            <img class="w-24 mb-4" [src]="item.source" alt="textbox">
                                            <h3 class="text-2xl w-full">{{item.label}}</h3>
                                            <p class="grey-text w-full">{{item.description}}</p>
                                        </a>
                                        }
                                    </div>
                                </div>
                                <div class="border border-[#363636] rounded-b-lg border-t-0 p-4">
                                    <div class="flex justify-between items-center flex-wrap">
                                        <div class="flex gap-4 items-center justify-center">
                                            <label for="taskId">
                                                Task Id
                                            </label>
                                            <input type="text" pInputText [value]="taskID" disabled
                                                class="bg-transparent border border-[#363636] rounded-lg px-4 py-2 text-white focus:border-[#B66DFF] focus:ring-[#B66DFF]">
                                            <p class="text-xl"><b class="mr-2">Due Date:</b>{{dueDate}}</p>
                                        </div>
                                        <p-button styleClass="px-6 py-3 bg-[#8D4BFF] rounded-full" label="Next"
                                            (onClick)="activateCallback(2)" severity="help" rounded="true"></p-button>
                                    </div>

                                </div>
                            </div>

                        </ng-template>
                    </p-step-panel>
                </p-step-item>
                <p-step-item [value]="2">
                    @switch (details) {
                    @case ("details") {
                    <p-step style="font-size: calc(1.5rem + 0.2vw);">Input Details Manually</p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col my-4">

                                <div class="border border-[#363636] rounded-lg w-full p-4">
                                    @switch (this.selection.code) {
                                    @case ('email') {
                                    <app-email-form></app-email-form>
                                    }
                                    @case('social'){
                                    <app-social-form></app-social-form>
                                    }
                                    @case('blog'){
                                    <app-blog-form></app-blog-form>
                                    }
                                    @case ('video') {
                                    <app-video-form></app-video-form>
                                    }
                                    @case ('image') {
                                    <app-image-form></app-image-form>
                                    }
                                    @case ('virtual') {
                                    <app-virtual-form></app-virtual-form>
                                    }
                                    @case ('product') {
                                    <app-product-desc></app-product-desc>
                                    }
                                    @case ('combined') {
                                    <app-combined-form></app-combined-form> }
                                    }
                                </div>

                            </div>
                        </ng-template>
                    </p-step-panel>
                    }@case ("upload") {
                    <p-step style="font-size: calc(1.5rem + 0.2vw);">Upload Your Documents</p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <app-chat-app></app-chat-app>
                        </ng-template>
                    </p-step-panel>
                    }@case ("voice") {
                    <p-step style="font-size: calc(1.5rem + 0.2vw);">Voice based input details</p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col mt-5">
                                <div class="border border-[#363636] rounded-t-lg">
                                    <div class="flex items-center flex-wrap gap-4 p-4">
                                        <div class="upload flex-2">
                                            <div class="border border-[#363636] rounded-xl p-16"
                                                style="background: var(--bg-upload);">
                                                <div class="flex flex-col items-center justify-center">
                                                    <p-button
                                                        styleClass="rounded-full p-5 bg-[#FFFFFF] dark:bg-[#000000]"><i
                                                            class="pi pi-microphone text-xl"></i></p-button>
                                                    <h3>Click or drag to upload files</h3>
                                                    <p class=""></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-1 w-32">
                                            <div class="border border-[#363636] p-4 rounded-lg">
                                                <h4>File Upload Guidelines</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex justify-end items-center border border-[#363636] rounded-b-lg border-t-0 p-4">
                                    <p-button styleClass="px-6 py-3 rounded-full" label="Submit"></p-button>
                                </div>
                            </div>
                        </ng-template>
                    </p-step-panel>
                    }@default {
                    <p-step style="font-size: calc(1.5rem + 0.2vw);">Input Details</p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col justify-center my-4">

                                <div class="border border-[#363636] rounded-t-lg w-full">

                                </div>
                                <div class="border border-[#363636] rounded-b-lg border-t-0 p-4">
                                    <div class="flex justify-end items-center flex-wrap">

                                        <p-button styleClass="px-6 py-3 bg-[#8D4BFF] rounded-full" label="Next"
                                            severity="help" rounded="true"></p-button>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </p-step-panel>
                    }
                    }


                </p-step-item>
                <!-- <p-step-item [value]="2">
                </p-step-item> -->
            </p-stepper>
        </div>
    </div>
</div>