<header>
    <nav class="w-full bg-transparent">
        <div class="max-w-[90%] my-0 mx-auto">
            <div class="flex items-center justify-between py-4 flex-wrap">
                <div class="logo flex items-center space-x-2">
                    <img src="/assets/images/Group1321316956.svg" alt="Logo" class="h-10" />
                    <h1 class="text-[#121212] text-2xl font-semibold">ALTITUDE</h1>
                </div>
                <div class="NAVIGATION">
                    <div
                        class="flex justify-center items-center border-[#7E7E7E] border-1 rounded-full space-x-3 py-2 px-4">
                        <a href="" class="text-[#7E7E7E] text-sm">Home</a>
                        <a href="" class="text-[#7E7E7E] text-sm">Dashboard</a>
                    </div>
                </div>
                <div class="flex items-center space-x-2 justify-center flex-wrap">
                    <div class="dark-button relative ">
                        <app-theme-toggler></app-theme-toggler>
                    </div>
                    <div class="profile w-[40px] rounded-full">
                        <img src="/assets/images/profile.png" alt="" class="rounded-full">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>