<app-header></app-header>
<div class="flex flex-col items-center gap-3 justify-center min-h-[80vh]">
    <img src="assets/images/Illustration.svg" alt="" class="w-[300px]">
    <h2 class="text-md sm:text-3xl">Sent for <span class="italic">Approval!</span></h2>
    <p class="text-lg">Your asset has been successfully sent for approval.</p>
    <div class="flex justify-center items-center gap-2">
        <button class="border-[#BB93FF] border-1 rounded-full cursor-pointer text-[#BB93FF] p-3"
            (click)="navigateToHome()">Back To
            Home</button>
        <button class="bg-[#8D4BFF] rounded-full p-3 cursor-pointer" (click)="navigateToDashboard()">Track
            Progress</button>
    </div>

</div>